<article>
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a>
  </div>
  <div class="content">
    {{content}}
  </div>
  <div class="meta">
    Posted by {{user.username}} on
    {{created_at}}
  </div>
</article>