<article>
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a>
    <span class="meta">
      Posted by {{user.username}} on
      {{created_at}}
    </span>
  </div>
  <div class="content">
    {{content}}
  </div>
  
</article>